@font-face {
  font-family: "BeauSansPro";
  font-style: thin;
  font-weight: 100;
  src: url("../fonts/PFBeauSansPro-XThin.woff2") format("woff2"); }

@font-face {
  font-family: "BeauSansPro";
  font-style: thin;
  font-weight: 200;
  src: url("../fonts/PFBeauSansPro-Thin.woff2") format("woff2"); }

@font-face {
  font-family: "BeauSansPro";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/PFBeauSansPro-ThinItalic.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: thin;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Muller";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/MullerBold.woff2") format("woff2"); }

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MullerRegular.woff2") format("woff2"); }

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Myriad-Pro_Regular.woff2") format("woff2"); }

@font-face {
  font-family: "AGAvantGardeCyrBook";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/AGAvantGardeCyrBook.woff2") format("woff2"); }

@font-face {
  font-family: "RWDewi";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/RFDewi-Bold.woff2") format("woff2"); }

* {
  margin: 0px;
  padding: 0px; }

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

.header {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header-main {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-main-design {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .header-main-design-text, .header-main-contacts-text, .header-links-link {
        font-family: "BeauSansPro", sans-serif;
        font-weight: 200;
        font-size: 18px;
        text-decoration: none;
        color: #666; }
        .header-main-design-text:hover, .header-main-contacts-text:hover, .header-links-link:hover {
          color: #000; }
    .header-main-logo {
      width: 100%;
      height: 101px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 21; }
      .header-main-logo-image {
        width: 302px;
        height: 101px;
        fill: #000;
        -webkit-transition: fill .3s ease;
        -o-transition: fill .3s ease;
        transition: fill .3s ease; }
    .header-main-contacts {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-main-mob {
      width: 100%;
      display: initial; }
      .header-main-mob-menu {
        display: none; }
      .header-main-mob-logo {
        width: 100%;
        padding-top: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
  .header-links {
    width: 100%;
    padding: 60px 0px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .header-links-link {
      position: relative;
      padding: 0px 23px 5px;
      margin: 0px 20px;
      font-size: 20px;
      border-bottom: none; }
      .header-links-link:before {
        position: absolute;
        content: '';
        left: 0px;
        height: 100%;
        width: 0px;
        border-bottom: 3px solid rgba(22, 22, 22, 0.55);
        -webkit-transition: width .15s ease-out;
        -o-transition: width .15s ease-out;
        transition: width .15s ease-out; }
      .header-links-link:hover:before {
        width: 100%; }
  .header-menu {
    display: none; }

.fixed, .fixed-show {
  position: fixed;
  background-color: #fff;
  top: -100%;
  padding: 20px 0px; }
  .fixed-show {
    z-index: 50;
    top: 0%;
    max-width: 4096px;
    width: 100%;
    margin: 0 auto; }

.sec1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative; }
  .sec1-image {
    display: block;
    width: 100%;
    z-index: -1; }
  .sec1-text {
    position: absolute;
    padding-left: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    width: 600px;
    color: #fff;
    z-index: 1; }
  .sec1-link {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.sec2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative; }
  .sec2-image {
    display: block;
    width: 100%; }
  .sec2-title, .sec3-title, .sec4-title {
    width: 100%;
    height: 270px;
    font-family: "Muller", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .sec2-title-link, .sec3-title-link, .sec4-title-link {
      color: #000;
      text-decoration: none; }

.sec3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative; }
  .sec3-image, .sec4-image {
    display: block;
    width: 100%;
    z-index: 1; }

.sec4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .sec4-title {
    font-size: 60px;
    height: 285px; }
  .sec4-blocks {
    width: 938px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .sec4-blocks-block {
      position: relative;
      width: 444px;
      height: 444px;
      margin-bottom: 50px;
      background-color: #000;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .sec4-blocks-block-bg {
        position: absolute;
        width: 100%;
        opacity: 0.7;
        z-index: 1; }
      .sec4-blocks-block-title {
        position: relative;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: none;
        color: #fff;
        z-index: 2; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-bg {
    position: relative;
    width: 100%;
    opacity: 0.15;
    z-index: 0;
    display: block; }
  .footer-blocks {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-blocks-block {
      height: 160px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer-blocks-block-logo {
        fill: #fff;
        width: 212px;
        height: calc(70px + (70px / 7)); }
      .footer-blocks-block-copyright {
        font-family: "MyriadPro", sans-serif;
        font-size: 18px;
        color: #fff; }
      .footer-blocks-block-title {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 19px;
        color: #fff;
        text-transform: uppercase; }
      .footer-blocks-block-data {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .footer-blocks-block-data-icon {
          width: 17px;
          padding-right: 15px; }
        .footer-blocks-block-data-text {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 18px;
          color: #fff; }
      .footer-blocks-block-form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer-blocks-block-form-field {
          width: 200px;
          background-color: #0000;
          outline: none;
          border: 2px solid #fff8;
          padding: 15px 20px;
          margin-right: 10px;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 18px;
          color: #fff;
          -webkit-transition: border-color .15s ease;
          -o-transition: border-color .15s ease;
          transition: border-color .15s ease; }
          .footer-blocks-block-form-field::-webkit-input-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            opacity: 0.75; }
          .footer-blocks-block-form-field::-moz-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            opacity: 0.75; }
          .footer-blocks-block-form-field:-ms-input-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            opacity: 0.75; }
          .footer-blocks-block-form-field::-ms-input-placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            opacity: 0.75; }
          .footer-blocks-block-form-field::placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            opacity: 0.75; }
          .footer-blocks-block-form-field:hover {
            border-color: #fffa; }
        .footer-blocks-block-form-btn {
          height: 56px;
          width: 90px;
          outline: none;
          background-image: url("../img/arrow.png");
          background-color: #fff8;
          background-repeat: no-repeat;
          background-position: center;
          border: 0px;
          cursor: pointer;
          -webkit-transition: background-color .15s ease;
          -o-transition: background-color .15s ease;
          transition: background-color .15s ease; }
          .footer-blocks-block-form-btn:hover {
            background-color: #fffa; }
      .footer-blocks-block-soc {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer-blocks-block-soc-br {
          width: 40px;
          height: 40px;
          border: 1px solid #fff;
          border-radius: 50%;
          margin-right: 10px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .footer-blocks-block-soc-br.soc-vk {
            fill: #fff;
            border-color: #fff;
            -webkit-transition: border-color .15s ease, fill .15s ease;
            -o-transition: border-color .15s ease, fill .15s ease;
            transition: border-color .15s ease, fill .15s ease; }
            .footer-blocks-block-soc-br.soc-vk:hover {
              fill: #4a76a8;
              border-color: #4a76a8; }
          .footer-blocks-block-soc-br.soc-inst {
            fill: #fff;
            border-color: #fff;
            -webkit-transition: border-color .15s ease, fill .15s ease;
            -o-transition: border-color .15s ease, fill .15s ease;
            transition: border-color .15s ease, fill .15s ease; }
            .footer-blocks-block-soc-br.soc-inst:hover {
              fill: #fb3ca8;
              border-color: #fb3ca8; }
          .footer-blocks-block-soc-br.soc-yt {
            fill: #fff;
            border-color: #fff;
            -webkit-transition: border-color .15s ease, fill .15s ease;
            -o-transition: border-color .15s ease, fill .15s ease;
            transition: border-color .15s ease, fill .15s ease; }
            .footer-blocks-block-soc-br.soc-yt:hover {
              fill: #f00;
              border-color: #f33; }
        .footer-blocks-block-soc-icon {
          width: 50%;
          height: 100%; }

.mode-comp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.mode-mob {
  display: none; }

.body1-container {
  padding: 0px 130px; }

.sec5 {
  width: calc(100% - 40px);
  height: 320px;
  padding: 50px 20px 100px;
  margin-top: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0.5px 0.5px 7px #0003;
          box-shadow: 0.5px 0.5px 7px #0003;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .sec5-left, .sec5-right {
    width: 100%;
    height: 100%; }
    .sec5-left-load {
      width: 510px;
      height: 100%;
      background-color: #f5f5f5;
      border: 2px solid #ccc;
      border-radius: 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .sec5-left-load-label {
        font-family: "RFDewi", sans-serif;
        font-weight: bold;
        color: #4b4b4b; }
      .sec5-left-load-file {
        display: none; }
      .sec5-left-load-btn {
        width: 170px;
        height: 40px;
        margin-top: 35px;
        background-color: #ebebeb;
        border: 2px solid #c4c4c4;
        border-radius: 8px;
        font-family: "Muller", sans-serif;
        font-weight: normal;
        font-size: 18px;
        color: #4b4b4b;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer; }
        .sec5-left-load-btn:hover {
          background-color: #f3f3f3; }
  .sec5-right {
    margin-left: 80px; }
    .sec5-right-blocks {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .sec5-right-blocks-title {
        font-family: "RFDewi", sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #4b4b4b; }
      .sec5-right-blocks-sketch {
        width: 100%;
        height: 100px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .sec5-right-blocks-sketch-type {
          width: 90px;
          height: 90px;
          margin-right: 15px;
          background-color: #f8f8f8;
          border: 2px solid #999;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end; }
          .sec5-right-blocks-sketch-type-label {
            width: 100%;
            height: 30px;
            background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
            background: -o-linear-gradient(bottom, #fff, transparent);
            background: linear-gradient(0deg, #fff, transparent);
            font-family: "Muller", sans-serif;
            font-weight: bold;
            font-size: 12px;
            color: #4b4b4b;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
                -ms-flex-align: end;
                    align-items: flex-end; }
      .sec5-right-blocks-btns {
        width: 100%; }
        .sec5-right-blocks-btns-btn, .sec5-right-blocks-btns-btn.special {
          width: 105px;
          height: 40px;
          outline: none;
          background-color: #fff;
          margin-right: 15px;
          border: 2px solid #999;
          border-radius: 5px;
          font-family: "Muller", sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #4c4c4c;
          cursor: pointer; }
          .sec5-right-blocks-btns-btn:hover {
            background-color: #eee; }
          .special.sec5-right-blocks-btns-btn {
            background-color: #4c4c4c;
            border: 2px solid #4c4c4c;
            color: #fff; }
            .special.sec5-right-blocks-btns-btn:hover {
              background-color: #666;
              border-color: #666; }

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
  .header {
    height: 100%; }
    .header-main-mob-logo {
      padding-top: 80px;
      height: 100%; }
    .header-main-logo {
      height: 100%; }
      .header-main-logo-image {
        width: 453px;
        height: 152px; }
    .header-main-design-text, .header-main-contacts-text, .header-links-link {
      font-size: 36px; }
    .header-links {
      padding: 80px 0px 45px; }
      .header-links-link {
        margin: 0px 30px;
        padding: 0px 35px 8px; }
        .header-links-link:before {
          border-bottom: 6px solid rgba(22, 22, 22, 0.55); }
  .sec1-text {
    padding-left: 70px;
    font-size: 90px;
    width: auto; }
  .sec2-title, .sec3-title, .sec4-title {
    font-size: 95px;
    height: 320px; }
  .sec4-blocks {
    width: 1450px; }
    .sec4-blocks-block {
      width: 450px;
      height: 450px; }
      .sec4-blocks-block-title {
        font-size: 35px; }
  .footer {
    height: 375px; }
    .footer-blocks-block {
      height: 240px; }
      .footer-blocks-block-logo {
        width: 318px;
        height: calc(105px + (105px / 7)); }
      .footer-blocks-block-copyright {
        font-size: 27px; }
      .footer-blocks-block-title {
        font-size: 29px; }
      .footer-blocks-block-data-icon {
        width: 26px; }
      .footer-blocks-block-data-text {
        font-size: 27px; }
      .footer-blocks-block-form-field {
        width: 300px;
        padding: 23px 30px;
        margin-right: 15px;
        font-size: 27px; }
        .footer-blocks-block-form-field::-webkit-input-placeholder {
          font-size: 27px; }
        .footer-blocks-block-form-field::-moz-placeholder {
          font-size: 27px; }
        .footer-blocks-block-form-field:-ms-input-placeholder {
          font-size: 27px; }
        .footer-blocks-block-form-field::-ms-input-placeholder {
          font-size: 27px; }
        .footer-blocks-block-form-field::placeholder {
          font-size: 27px; }
      .footer-blocks-block-form-btn {
        height: 84px;
        width: 135px;
        background-size: 60px; }
      .footer-blocks-block-soc-br {
        width: 60px;
        height: 60px;
        margin-right: 15px; } }

@media only screen and (min-width: 2561px) {
  body {
    max-width: 4096px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden; }
  .header {
    height: 100%; }
    .header-main-mob-logo {
      padding-top: 120px;
      height: 100%; }
    .header-main-logo {
      height: 100%; }
      .header-main-logo-image {
        width: 906px;
        height: 304px; }
    .header-main-design-text, .header-main-contacts-text, .header-links-link {
      font-size: 72px; }
    .header-links {
      padding: 120px 0px 75px; }
      .header-links-link {
        margin: 0px 60px;
        padding: 0px 70px 16px; }
        .header-links-link:before {
          border-bottom: 12px solid rgba(22, 22, 22, 0.55); }
  .sec1-text {
    padding-left: 140px;
    font-size: 180px;
    width: auto; }
  .sec2-title, .sec3-title, .sec4-title {
    font-size: 175px;
    height: 640px; }
  .sec4-blocks {
    width: 2500px; }
    .sec4-blocks-block {
      width: 800px;
      height: 800px; }
      .sec4-blocks-block-title {
        font-size: 70px; }
  .footer {
    height: 750px; }
    .footer-blocks-block {
      height: 480px; }
      .footer-blocks-block-logo {
        width: 636px;
        height: calc(210px + (210px / 7)); }
      .footer-blocks-block-copyright {
        font-size: 54px; }
      .footer-blocks-block-title {
        font-size: 58px; }
      .footer-blocks-block-data-icon {
        width: 52px; }
      .footer-blocks-block-data-text {
        font-size: 54px; }
      .footer-blocks-block-form-field {
        width: 600px;
        padding: 46px 60px;
        margin-right: 30px;
        font-size: 54px; }
        .footer-blocks-block-form-field::-webkit-input-placeholder {
          font-size: 54px; }
        .footer-blocks-block-form-field::-moz-placeholder {
          font-size: 54px; }
        .footer-blocks-block-form-field:-ms-input-placeholder {
          font-size: 54px; }
        .footer-blocks-block-form-field::-ms-input-placeholder {
          font-size: 54px; }
        .footer-blocks-block-form-field::placeholder {
          font-size: 54px; }
      .footer-blocks-block-form-btn {
        height: 168px;
        width: 270px;
        background-size: 120px; }
      .footer-blocks-block-soc-br {
        width: 120px;
        height: 120px;
        margin-right: 30px; } }

@media only screen and (max-width: 1200px) {
  .header {
    max-height: 230px; }
    .header-main-mob-logo {
      padding-top: 40px; }
    .header-links {
      padding: 40px 0px 20px; }
  .sec1-text {
    font-size: 45px;
    width: auto; }
  .sec2-title, .sec3-title, .sec4-title {
    font-size: 65px;
    height: 200px; } }

@media only screen and (max-width: 992px) {
  .sec1-text {
    font-size: 35px; }
  .sec2-title, .sec3-title, .sec4-title {
    font-size: 50px;
    height: 150px; }
  .sec4-blocks {
    width: 750px;
    margin-bottom: 80px; }
    .sec4-blocks-block {
      width: 350px;
      height: 350px; } }

@media only screen and (max-width: 768px) {
  .header {
    max-height: 187px; }
    .header-main-logo-image {
      width: 201px;
      height: 67px; }
    .header-main-design-text, .header-main-contacts-text, .header-links-link {
      font-size: 17px; }
    .header-main-mob-logo {
      padding-top: 20px; }
    .header-links {
      padding: 20px 0px; }
  .sec1-text {
    font-size: 27px;
    width: auto;
    padding-left: 25px; }
  .sec2-title, .sec3-title, .sec4-title {
    height: 80px;
    font-size: 35px; }
  .sec4-blocks {
    width: 550px;
    margin-bottom: 50px; }
    .sec4-blocks-block {
      width: 250px;
      height: 250px; }
  .footer {
    height: 190px; }
    .footer-blocks-block {
      height: 130px; }
      .footer-blocks-block-logo {
        width: 151px;
        height: calc(50px + (50px / 7)); }
      .footer-blocks-block-copyright {
        font-size: 14px; }
      .footer-blocks-block-title {
        font-size: 16px; }
      .footer-blocks-block-data {
        width: 162px; }
        .footer-blocks-block-data-icon {
          width: 11px;
          padding-right: 8px; }
        .footer-blocks-block-data-text {
          font-size: 14px; }
      .footer-blocks-block-form-field {
        width: 150px;
        padding: 10px 15px;
        font-size: 14px;
        margin-right: 5px; }
        .footer-blocks-block-form-field::-webkit-input-placeholder {
          font-size: 14px; }
        .footer-blocks-block-form-field::-moz-placeholder {
          font-size: 14px; }
        .footer-blocks-block-form-field:-ms-input-placeholder {
          font-size: 14px; }
        .footer-blocks-block-form-field::-ms-input-placeholder {
          font-size: 14px; }
        .footer-blocks-block-form-field::placeholder {
          font-size: 14px; }
      .footer-blocks-block-form-btn {
        background-size: 35px;
        height: 41px;
        width: 70px; }
  .mode-comp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 576px) {
  .header {
    max-height: 157px; }
    .header-main-mob-logo {
      padding-top: 10px; }
    .header-links {
      padding: 10px 0px; }
  .sec1-text {
    font-size: 20px; }
  .sec2-title, .sec3-title, .sec4-title {
    height: 70px;
    font-size: 30px; }
  .sec4-blocks {
    width: 425px; }
    .sec4-blocks-block {
      width: 200px;
      height: 200px;
      margin-bottom: 25px; }
      .sec4-blocks-block-title {
        font-size: 18px; }
  .footer {
    height: 140px; }
    .footer-blocks-block {
      height: 100px; }
      .footer-blocks-block-logo {
        width: 100px;
        height: calc(33px + (33px / 7)); }
      .footer-blocks-block-copyright {
        font-size: 9px; }
      .footer-blocks-block-title {
        font-size: 11px; }
      .footer-blocks-block-data {
        width: 120px; }
        .footer-blocks-block-data-text {
          font-size: 9px; }
      .footer-blocks-block-form-field {
        width: 120px;
        padding: 7px 12px;
        font-size: 11px; }
        .footer-blocks-block-form-field::-webkit-input-placeholder {
          font-size: 11px; }
        .footer-blocks-block-form-field::-moz-placeholder {
          font-size: 11px; }
        .footer-blocks-block-form-field:-ms-input-placeholder {
          font-size: 11px; }
        .footer-blocks-block-form-field::-ms-input-placeholder {
          font-size: 11px; }
        .footer-blocks-block-form-field::placeholder {
          font-size: 11px; }
      .footer-blocks-block-form-btn {
        background-size: 23px;
        height: 31px;
        width: 46px; }
      .footer-blocks-block-soc-br {
        width: 30px;
        height: 30px; } }

@media only screen and (max-width: 480px) {
  .header {
    max-height: 55px; }
    .header-main {
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      padding: 0px; }
      .header-main-design {
        display: none; }
      .header-main-logo {
        margin-top: 0px;
        height: 34px; }
        .header-main-logo-image {
          max-width: 101px;
          max-height: 34px; }
      .header-main-contacts {
        display: none;
        padding: 10px 0px;
        margin-bottom: 20px;
        margin-top: 10px; }
        .header-main-contacts-text {
          font-size: 0.85em; }
      .header-main-mob {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: row;
        -webkit-justify-content: row;
            -ms-flex-pack: row;
                justify-content: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .header-main-mob-menu {
          position: relative;
          min-width: 30px;
          height: 30px;
          margin-right: 15px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header-main-mob-menu-image, .header-main-mob-menu-image-active {
            position: relative;
            width: 30px;
            height: 3px;
            background-color: #000;
            -webkit-transition: background-color 0s ease 0.3s;
            -o-transition: background-color 0s ease 0.3s;
            transition: background-color 0s ease 0.3s;
            z-index: 53; }
            .header-main-mob-menu-image::before, .header-main-mob-menu-image::after, .header-main-mob-menu-image-active::after, .header-main-mob-menu-image-active::before {
              position: absolute;
              content: '';
              top: -10px;
              width: 30px;
              height: 3px;
              background-color: #000;
              -webkit-transition: background-color 0.3s ease, top 0.3s linear 0.3s, -webkit-transform 0.3s ease;
              transition: background-color 0.3s ease, top 0.3s linear 0.3s, -webkit-transform 0.3s ease;
              -o-transition: transform 0.3s ease, background-color 0.3s ease, top 0.3s linear 0.3s;
              transition: transform 0.3s ease, background-color 0.3s ease, top 0.3s linear 0.3s;
              transition: transform 0.3s ease, background-color 0.3s ease, top 0.3s linear 0.3s, -webkit-transform 0.3s ease; }
            .header-main-mob-menu-image::after, .header-main-mob-menu-image-active::after {
              top: 10px;
              -webkit-transition: background-color 0.3s ease, top 0.3s linear 0.3s, -webkit-transform 0.3s ease;
              transition: background-color 0.3s ease, top 0.3s linear 0.3s, -webkit-transform 0.3s ease;
              -o-transition: transform 0.3s ease, background-color 0.3s ease, top 0.3s linear 0.3s;
              transition: transform 0.3s ease, background-color 0.3s ease, top 0.3s linear 0.3s;
              transition: transform 0.3s ease, background-color 0.3s ease, top 0.3s linear 0.3s, -webkit-transform 0.3s ease; }
            .header-main-mob-menu-image-active {
              background-color: transparent;
              -webkit-transition: background-color 0s ease 0.3s;
              -o-transition: background-color 0s ease 0.3s;
              transition: background-color 0s ease 0.3s; }
              .header-main-mob-menu-image-active::before {
                background-color: #fff;
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                top: 0px;
                -webkit-transition: top 0.3s linear, background-color 0.3s ease, -webkit-transform 0.3s ease 0.3s;
                transition: top 0.3s linear, background-color 0.3s ease, -webkit-transform 0.3s ease 0.3s;
                -o-transition: top 0.3s linear, background-color 0.3s ease, transform 0.3s ease 0.3s;
                transition: top 0.3s linear, background-color 0.3s ease, transform 0.3s ease 0.3s;
                transition: top 0.3s linear, background-color 0.3s ease, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s; }
              .header-main-mob-menu-image-active::after {
                background-color: #fff;
                -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                top: 0px;
                -webkit-transition: top 0.3s linear, background-color 0.3s ease, -webkit-transform 0.3s ease 0.3s;
                transition: top 0.3s linear, background-color 0.3s ease, -webkit-transform 0.3s ease 0.3s;
                -o-transition: top 0.3s linear, background-color 0.3s ease, transform 0.3s ease 0.3s;
                transition: top 0.3s linear, background-color 0.3s ease, transform 0.3s ease 0.3s;
                transition: top 0.3s linear, background-color 0.3s ease, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s; }
          .header-main-mob-menu-animate {
            position: fixed;
            width: 250vh;
            height: 250vh;
            border-radius: 50%;
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0);
            background-color: #1a1a1a;
            -webkit-transition: -webkit-transform .3s ease-out;
            transition: -webkit-transform .3s ease-out;
            -o-transition: transform .3s ease-out;
            transition: transform .3s ease-out;
            transition: transform .3s ease-out, -webkit-transform .3s ease-out;
            z-index: 10; }
        .header-main-mob-logo {
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -webkit-flex-direction: column-reverse;
              -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse;
          padding: 0px;
          z-index: 53; }
        .header-main-mob-empty {
          width: 30px;
          padding-left: 15px; }
    .header-links {
      display: none; }
    .header-menu {
      position: fixed;
      width: 100%;
      height: calc(100% - 6px);
      border-bottom: 3px solid #fff;
      border-top: 3px solid #fff;
      opacity: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease;
      z-index: -1; }
      .header-menu-link {
        font-family: "BeauSansPro", sans-serif;
        font-size: 30px;
        font-weight: 600;
        margin: 25px 0px;
        color: #fff; }
  .link-one {
    opacity: 0;
    -webkit-transition: opacity .3s ease .1s;
    -o-transition: opacity .3s ease .1s;
    transition: opacity .3s ease .1s; }
  .link-two {
    opacity: 0;
    -webkit-transition: opacity .3s ease .2s;
    -o-transition: opacity .3s ease .2s;
    transition: opacity .3s ease .2s; }
  .link-three {
    opacity: 0;
    -webkit-transition: opacity .3s ease .3s;
    -o-transition: opacity .3s ease .3s;
    transition: opacity .3s ease .3s; }
  .sec1-text {
    padding-left: 10px;
    width: auto;
    font-size: 15px; }
  .sec2-title, .sec3-title, .sec4-title {
    height: 60px;
    font-size: 22px; }
  .sec4-blocks {
    width: 300px;
    margin-bottom: 40px; }
    .sec4-blocks-block {
      width: 300px;
      height: 300px;
      margin-bottom: 30px; }
      .sec4-blocks-block-title {
        font-size: 1.5em; }
  .footer {
    padding: 10px 0px;
    height: 320px; }
    .footer-blocks {
      height: calc(100% - 20px);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer-blocks-block {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: auto; }
        .footer-blocks-block-logo {
          width: 151px;
          height: calc(50px + (50px / 7)); }
        .footer-blocks-block-copyright {
          padding-top: 15px;
          font-size: 14px; }
        .footer-blocks-block-title {
          margin-top: 30px;
          font-size: 16px; }
        .footer-blocks-block-data {
          padding-top: 10px;
          width: 162px; }
          .footer-blocks-block-data-icon {
            width: 11px;
            padding-right: 8px; }
          .footer-blocks-block-data-text {
            font-size: 14px; }
        .footer-blocks-block-form {
          margin-top: 20px; }
          .footer-blocks-block-form-field {
            width: 150px;
            padding: 10px 15px;
            font-size: 14px; }
            .footer-blocks-block-form-field::-webkit-input-placeholder {
              font-size: 14px; }
            .footer-blocks-block-form-field::-moz-placeholder {
              font-size: 14px; }
            .footer-blocks-block-form-field:-ms-input-placeholder {
              font-size: 14px; }
            .footer-blocks-block-form-field::-ms-input-placeholder {
              font-size: 14px; }
            .footer-blocks-block-form-field::placeholder {
              font-size: 14px; }
          .footer-blocks-block-form-btn {
            background-size: 35px;
            height: 41px;
            width: 70px; }
        .footer-blocks-block-soc {
          margin-top: 30px; }
          .footer-blocks-block-soc-br {
            width: 40px;
            height: 40px; }
          .footer-blocks-block-soc-icon {
            height: 100%; }
  .mode-comp {
    display: none; }
  .mode-mob {
    display: initial; } }

@media only screen and (max-width: 320px) {
  .sec1-text {
    padding-left: 5px;
    width: auto;
    font-size: 13px; }
  .sec2-title, .sec3-title, .sec4-title {
    font-size: 20px; }
  .sec4-blocks {
    width: 280px;
    margin-bottom: 30px; }
    .sec4-blocks-block {
      width: 280px;
      height: 280px;
      margin-bottom: 20px; } }
