@import vars
@import fonts
@import libs

*
	margin: 0px
	padding: 0px

html
	font-family: "ObelixPro", sans-serif
	font-size: 20px
	color: #fff

.mainBlock
	width: 100%
	background-color: #bef

.blocks
	

.number1
	width: 100px
	height: 130px
	background-color: #4f8

.number2
	width: 120px
	height: 100px
	background-color: #48f

.number3
	width: 150px
	height: 130px
	background-color: #f42

.number4
	width: 130px
	height: 100px
	background-color: #fd0

@import media