@import vars
@import fonts
@import libs

*
	margin: 0px
	padding: 0px

html
	font-family: "ObelixPro", sans-serif

.mainBlock
	width: 100%
	background-color: #bef

.blocks
	display: flex
	justify-content: center
	align-items: center
	font-size: 30px
	color: #fff

.number1
	width: 100px
	height: 130px
	background-color: #4f8
	color: black

.number2
	width: 120px
	height: 100px
	background-color: #48f

.number3
	width: 150px
	height: 130px
	background-color: #f42

.number4
	width: 130px
	height: 100px
	background-color: #fd0
	color: black

.buttons input[type="button"]
	border: 0px
	border-color: #0000
	background-color: #ccc
	padding: 0.7%
	outline: none
	font-family: "ObelixPro", sans-serif
	font-size: 15px

	&:hover
		background-color: #ddd

	&:active
		background-color: #aaa

@import media