@import vars
@import fonts
@import libs

*
	margin: 0px
	padding: 0px

/* ШАПКА */
/* Задний фон */
.headerBg
	position: relative

.headerBg .headerBgMain
	width: 100%
	z-index: 0
	position: absolute

.headerBg .headerBgGradient
	width: 100%
	z-index: 1
	opacity: 0.9
	position: absolute

/* Меню */
.headerMenuAll
	z-index: 2
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	height: 100px
	width: 100%

.headerMenuButton
	font-size: 15px
	font-family: "Raleway", sans-serif
	color: #fff
	text-decoration: none
	transition: all.3s ease

	&:hover
		color: #061e37

.headerMenuLogo
	display: flex
	align-items: center
	font-weight: normal
	padding-left: 60px
	font-size: 20px

.headerMenuLogo img
	width: 50px
	padding-right: 30px

.headerMenu
	width: 40%
	margin: 0 auto
	display: flex
	justify-content: space-around

@import media