@media only screen and (max-width: 425px)
	.header
		&Bg
			&Main
				display: none

			&Gradient
				height: 320px
				z-index: 2

		&Top
			position: relative
			z-index: 3
			padding: 0px 10px
			width: calc(100% - 20px)
			height: 45px
			
			&Image
				display: initial
				width: 30px

			&Logo
				flex-direction: row-reverse
				justify-content: flex-end
				
				&Image
					width: 30px
					padding-left: 10px
					padding-right: 0px
			
			//Меню не доработано
			&Menu
				display: none

				&Special
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center

				&All
					width: 440px
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center

				&Button
					font-family: "Raleway", sans-serif
					font-size: 15px
					line-height: 25px
					color: #fff
					text-decoration: none

		&Basic
			position: relative
			flex-direction: column
			width: calc(100% - 20px)
			padding: 0px 10px
			padding-top: 20px
			height: auto
			justify-content: space-between

			&Text
				width: auto

				&Title
					font-weight: normal
					font-size: 15px
					font-weight: bold
					line-height: 20px
					text-transform: uppercase
					text-align: center
					height: auto

				&Description
					font-size: 10px
					line-height: 25px
					text-align: center

				&Buttons
					display: none

				&ButtonOrder
					padding: 15px 45px
					background-color: #061e37
					border-radius: 5px
					transition: all .3s ease
					cursor: pointer
					
					&:hover
						background-color: #0d355f

					&:active
						background-color: #06182c

				&ButtonCall
					padding: 15px 45px
					background-color: #fff
					border-radius: 5px
					color: #061e37
					cursor: pointer
					transition: all .3s ease

					&:hover
						background-color: #ccc

					&:active
						background-color: #999
						color: #fff

			&Video
				display: flex
				flex-direction: row
				justify-content: center
				width: 100%
				
				&Bg
					margin-top: -3px
					margin-left: 0px
					width: 274px
					height: 160px
				
				&Main
					width: 260px
					height: 145px
				
					&White
						width: 260px
						height: 145px
					
					&Play
						border-radius: 2px
						width: 30px
						height: 30px
						font-size: 15px
						margin-top: 20px
					
					&Text
						font-size: 10px
						line-height: 20px
	
		&Buttons
			position: relative
			padding: 0px 10px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			z-index: 4
			font-family: "Raleway", sans-serif
			font-size: 10px
			height: 65px
			width: calc(100% - 20px)

			&Order
				padding: 10px 15px
				background-color: #061e37
				border-radius: 3px
				transition: all .3s ease
				cursor: pointer
				color: #fff
				margin-right: 10px
				
				&:hover
					background-color: #0d355f
				
				&:active
					background-color: #06182c

			&Call
				padding: 10px 15px
				background-color: #fff
				border-radius: 3px
				transition: all .3s ease
				cursor: pointer
				color: #061e37

				&:hover
					background-color: #ccc

				&:active
					background-color: #999
					color: #fff

	.content1
		height: 350px
		width: 100%
		position: relative
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		overflow: hidden

		&Text
			display: flex
			align-items: center
			flex-direction: column
			padding: 0px 10px
		
			&Title
				font-size: 20px

			&Subtitle
				font-size: 15px
				font-weight: 600
				line-height: 30px
			
			&Desciption
				font-size: 10px
				width: 230px

		&Blocks
			width: 300%
			padding: 0px
			padding-top: 30px
			align-self: flex-start
		
		&Block
			justify-content: space-around
			height: 120px
			width: 100%

			&Image
				height: 40px
				padding-bottom: 25px
			
			&Image img
				height: 100%
			
			&Title
				font-size: 15px

			&Description
				font-family: "Raleway", sans-serif
				font-size: 10px
				font-weight: 400
				color: #78909c
				width: 230px

		&Pages
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			width: 40px
			padding: 10px 0px

			&Here
				width: 10px
				height: 10px
				border-radius: 50%
				background-color: #1de9b6
				transition: all .3s ease

			&No
				width: 10px
				height: 10px
				border-radius: 50%
				background-color: #e0dede
				transition: all .3s ease

		&Button
			border-radius: 3px
			box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15)
			width: 125px
			height: 25px
			font-size: 10px
	
	.info
		height: 140px
		flex-direction: column
		
		&Block
			height: 70px
			flex-direction: row
			
			&Image
				width: 30px
				height: 30px
				font-size: 17px
			
			&Text
				padding-left: 5px
				font-size: 12px

			&Up
				flex-direction: row
				
			&Down
				flex-direction: row
	
	.content2
		height: 360px
		
		&Text
			width: 250px
			height: auto
			
			&Title
				font-size: 20px
			
			&Description
				font-size: 10px
				line-height: 15px
		
		&Blocks
			padding-top: 20px
		
		&Block
			border-radius: 3px
			width: calc(100% - 40px)
			z-index: 1
			margin: 5px 0px
			cursor: pointer
			transition: all .3s ease
			padding: 0px 10px
			
			&Maximized
				box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05)
				height: 85px

			&Minimized
				box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1)
				height: 25px

			&Basic
				height: 25px
				max-height: 25px
				
				&Left
					&Icon
						font-size: 15px
						line-height: 20px
						padding-right: 10px

					&Title
						font-size: 10px

				&RightArrow
					font-size: 15px
					line-height: 20px

			&Details
				height: 50px

				&Image
					height: 50px
					width: 95px
					padding-right: 10px
				
				&Description
					font-size: 7px
					line-height: 7px

	.list
		overflow: hidden
		height: 230px
		
		&Bg
			width: unset
			height: 230px
			margin-left: -45%

		&Gradient
			height: 230px
		
		&Main
			width: calc(100% - 20px)
			height: 220px
			flex-direction: column
			justify-content: space-around
			align-items: space-between
			padding: 7px 10px 0px 10px
			
			&Text
				width: 100%
				max-width: 100%
				height: 35px
				
				&Basic
					font-family: "Raleway", sans-serif
					font-weight: 600

					&Title
						font-size: 15px
						text-align: center

					&Description
						font-size: 10px
						line-height: 12px
						font-weight: normal
						text-align: center

				&Button
					display: none
			
			&Workers
				height: 145px
				width: 100%
				padding-top: 10px
				
				&Blocks
					height: 145px
					width: 100%

				&Block
					justify-content: center
					width: 100%

					&Image
						box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1)
						width: 30px
					
					&Panel
						width: calc(100% - 100px)
						height: 45px
						padding: 10px
						border-radius: 3px
						box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1)
						margin-left: 15px
						
						&Title
							font-size: 10px
							
						&Description
							line-height: 10px
							font-size: 7px

		&Button
			display: initial
			background-color: #061e37
			border-radius: 3px
			padding: 5px 15px
			color: #fff
			font-family: "Raleway", sans-serif
			font-weight: 500
			font-size: 12px
			text-transform: uppercase
			transition: all .3s ease

			&:hover
				background-color: #0d355f

			&:active
				background-color: #06182c

	.content3
		height: 300px
		justify-content: space-around
		padding-bottom: 10px
		
		&Text
			height: 60px

			&Title
				font-size: 20px

			&Description
				font-size: 10px
				line-height: 15px
				width: 275px
		
		&Avatars
			width: 165px
			height: 70px

			&Second
				width: 40px
				height: 40px

			&Second img
				width: 100%

			&First
				width: 70px
				height: 70px

			&First img
				width: 100%
		
		&Details
			height: auto

			&Name
				font-size: 15px
				line-height: 20px

			&Description
				font-size: 10px
				line-height: 15px
				width: 260px
		
			&Social
				padding-top: 10px 
				width: 120px

				&Icon
					height: 15px

				&Icon img
					height: 100%

	.contacts
		height: 300px
		
		&Text
			height: 60px

			&Title
				font-size: 25px

			&Description
				font-size: 10px
				line-height: 12px
				width: 275px
		
		&Form
			height: auto
			width: calc(100% - 20px)
			padding: 25px 10px 0px 10px
			
			&Data
				height: 60px

				&Field[type="text"], &Field[type="email"], &Field[type="tel"]
					width: calc(50% - 30px)
					height: 25px
					border-radius: 3px
					padding: 0px 10px
					font-size: 10px
					line-height: 20px

					&::placeholder
						font-size: 10px
						line-height: 20px

			&Message
				height: 100px

				&Textarea
					height: 75px
					border-radius: 3px
					padding: 5px 10px
					font-size: 10px
					line-height: 20px

					&::placeholder
						font-size: 10px

			&Last
				&Check
					&Box
						font-size: 15px

					&Label
						font-size: 10px
						padding-left: 5px

				&Button[type="submit"]
					width: 65px
					height: 25px
					border-radius: 3px
					font-size: 10px
					line-height: 15px

	footer
		width: calc(100% - 20px)
		height: 80px
		padding: 0px 10px

	.footer
		&Menu
			width: 100%
			padding-bottom: 5px

			&Left
				&Image
					width: 20px
					padding-right: 5px

				&Text
					font-size: 10px
			
			&Right
				width: 180px

				&Button
					font-size: 10px
					line-height: 15px

		&Bottom
			padding-top: 5px

			&Left
				width: 170px

				&Text
					font-size: 10px
					line-height: 15px

				&Separator
					height: 3px
					width: 3px

			&Right
				width: 100px

				&Social img
					height: 15px
