@charset "UTF-8";

@media (min-width: 320px) and (max-width: 424px) {
	/** ШАПКА **/
	/* Логотип */
	#topLogoBg {
		width: 225px;
		max-width: 225px;
		margin-left: 0px;
		height: 30px;
		left: 50%;
		transform: translate(-50%);
	}

	#topLogoText {
		line-height: 0;
		margin-left: calc(50% - 51px);
		margin-top: 15px;
	}

	#topLogoTextPoint {
		line-height: 0;
		margin-top: 15px;
		margin-left: calc(50% + 51px);
	}

	/* Верхнее меню */
	#topMenu {
		text-align: center;
		height: 100px;
		margin-top: 30px;
		float: left;
		width: 100%;
	}
	
	.topMenuText {
		opacity: 0;
		position: absolute;
		line-height: 20px;
		margin-top: 20px;
		margin-left: 0px;
		left: 50%;
		transform: translate(-50%);
	}
	
	.topMenuText a {
		display: contents;
	}

	#topMenuTextWord {
		opacity: 1;
		float: left;
		left: calc(50% - 4px);
		transform: translate(-50%);
		margin-left: 0px;
		margin-top: 5px;
	}

	/* Верхнее социальные иконки */
	#topSocialIcons {
		margin-top: 60px;
		width: auto;
		left: 50%;
		transform: translate(-80%);
		right: auto;
	}

	/** ГЛАВНЫЙ БЛОК **/
	/* Тексты */
	/* _Заголовок_ */
	#mainTextTitle {
		font-size: 20px;
		line-height: initial;
		margin-top: 80%;
		margin-left: 0px;
		text-align: center;
		width: auto;
		height: auto;
	}

	/* _Описание_ */
	#mainTextDescription {
		width: 100%;
		height: auto;
		font-size: 16px;
		line-height: initial;
		margin-top: calc(80% + 50px);
		margin-left: 0px;
		text-align: center;
		left: 50%;
		transform: translate(-50%); 
	}

	/* Кнопка */
	#mainButton {
		margin-top: calc(80% + 50px + 30px);
		margin-left: 0px;
		left: 50%;
		transform: translate(-50%);
	}
	
	#mainButtonBg {
		width: 140px;
		height: 30px;
	}
	
	#mainButtonText {
		font-size: 12px;
	}
	
	/** КОНТЕНТ **/
	#content {
		margin-top: 170px;
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
		left: 50%;
		transform: translate(-50%);
		min-height: 100%;
	}
	
	/* 1 ряд */
	.contentOneBlock {
		width: 100%;
		height: 100%;
	}
	
	.contentOneTextTitle {
		width: 100%;
		text-align: center;
		height: auto;
	}
	
	.contentOneTextDescription {
		margin-top: 10px;
		text-align: center;
	}
	
	.contentOneLink {
		transform: translate(-50%);
		margin-left: 50%;
		display: inline-block;
		line-height: initial;
		margin-top: 20px;

	}

	.contentOneCenterElement {
		top: auto;
		left: auto;
		transform: translate(0);
	}
	
	/* 2 ряд */
	#contentTwo {
		margin-top: 500px;
	}
	
	/* _Картинка_ */
	#contentTwoBg {
		width: 100%;
		height: 100%;
	}
	
	#contentTwoImgComp {
		margin-top: 0px;
		width: 100%;
	}

	#contentTwoImgShadow {
		margin-top: 0px;
		width: 100%;
	}

	/* _Тексты_ */
	#contentTwoTextTitle {
		margin-left: 0px;
		margin-top: 80%;
		font-size: 30px;
		width: 100%;
		text-align: center;
		height: auto;
	}

	#contentTwoTextSubtitle {
		margin-left: 0px;
		margin-top: calc(80% + 40px);
		text-align: center;
		width: 100%;
	}

	#contentTwoTextDescription {
		margin-left: 0px;
		margin-top: calc(80% + 40px + 30px);
		width: 100%;
		text-align: center;
	}

	/* _Ссылка_ */
	#contentTwoLink {
		margin-left: 0px;
		margin-top: calc(80% + 40px + 30px + 150px);
		left: 50%;
		transform: translate(-50%);
	}

	/* 3 ряд */
	#contentThree {
		width: 100%;
		height: 550px;
		margin-top: calc(80% + 770px);
	}

	/* _Заголовок_ */
	#contentThreeTextTitle {
		width: 100%;
		text-align: center;
	}

	#contentThreeTextSubtitle {
		width: 100%;
		text-align: center;
	}

	/* _Работники_ */
	#contentThreeBlocks {
		height: auto;
		margin-top: calc(24px + 16px + 17px + 20px);
	}

	.contentThreeBlock {
		height: auto;
		left: 50%;
		transform: translate(-50%);
		position: relative;
		margin-top: 10px;
	}

	#contentThreeBlockRight {
		top: 10px;
		float: none;
	}

	/* _Ссылка_ */
	#contentThreeLink {
		bottom: initial;
		right: initial;
		margin-right: initial;
		margin-top: 500px;
		left: 50%;
		transform: translate(-50%);
	}

	/** ФУТЕР **/
	footer {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	/* Социальные иконки */
	#footerSocialIcons {
		float: none;
		margin-top: 10px;
		width: auto;
		transform: translate(-50%);
		position: absolute;
		left: 50%;
	}

	#footerText {
		right: initial;
		margin-top: 50px;
		width: 100%;
		text-align: center;
	}
}