@charset "UTF-8";

@media (max-width: 319px) {
	/** ШАПКА **/
	/* Логотип */
	#topLogoBg {
		width: 100%;
		height: 30px;
		border-radius: 0px;
		margin-left: 0px;
	}

	#topLogoText {
		line-height: 0;
		margin-top: 15px;
		margin-left: calc(50% - 51px);
	}

	#topLogoTextPoint {
		line-height: 0;
		margin-top: 15px;
		margin-left: calc(50% + 51px);
	}
}