@charset "UTF-8";

@media (max-width: 319px) {
	/** ШАПКА **/
	/* Логотип */
	#topLogoBg {
		width: 100%;
		height: 30px;
		border-radius: 0px;
		margin-left: 0px;
	}

	#topLogoText {
		line-height: 0;
		margin-top: 15px;
		margin-left: calc(50% - 51px);
	}

	#topLogoTextPoint {
		line-height: 0;
		margin-top: 15px;
		margin-left: calc(50% + 51px);
	}
	
	/* Верхнее меню */
	#topMenu {
		text-align: center;
		height: 100px;
		margin-top: 30px;
		float: left;
		width: 100%;
	}
	
	.topMenuText {
		position: absolute;
		line-height: 20px;
		margin-top: 20px;
		margin-left: 0px;
		left: 50%;
		transform: translate(-50%);
	}
	
	.topMenuText a {
		display: contents;
	}

	#topMenuTextWord {
		display: initial;
		float: left;
		left: calc(50% - 4px);
		transform: translate(-50%);
		margin-left: 0px;
		margin-top: 5px;
	}
	
	#topMenuTextOne {
		margin-top: 30px;
	}

	#topMenuTextTwo {
		margin-top: calc(30px + 20px);
	}
	
	#topMenuTextThree {
		margin-top: calc(30px + 20px + 20px);
	}
	
	#topMenuTextFour {
		margin-top: calc(30px + 20px + 20px + 20px);
	}
}