@charset "UTF-8";

@media (max-width: 319px) {
	/** ШАПКА **/
	/* Логотип */
	#topLogoBg {
		width: 100%;
		height: 30px;
		border-radius: 0px;
		margin-left: 0px;
	}

	#topLogoText {
		line-height: 0;
		margin-top: 15px;
		margin-left: calc(50% - 51px);
	}

	#topLogoTextPoint {
		line-height: 0;
		margin-top: 15px;
		margin-left: calc(50% + 51px);
	}
	
	/* Верхнее меню */
	#topMenu {
		text-align: center;
		height: 100px;
		margin-top: 30px;
		float: left;
		width: 100%;
	}
	
	.topMenuText {
		opacity: 0;
		position: absolute;
		line-height: 20px;
		margin-top: 20px;
		margin-left: 0px;
		left: 50%;
		transform: translate(-50%);
	}
	
	.topMenuText a {
		display: contents;
	}

	#topMenuTextWord {
		opacity: 1;
		float: left;
		left: calc(50% - 4px);
		transform: translate(-50%);
		margin-left: 0px;
		margin-top: 5px;
	}

	/* Верхнее социальные иконки */
	#topSocialIcons {
		margin-top: 60px;
		width: auto;
		left: 50%;
		transform: translate(-80%);
		right: auto;
	}

	/** ГЛАВНЫЙ БЛОК **/
	/* Тексты */
	/* _Заголовок_ */
	#mainTextTitle {
		font-size: 20px;
		line-height: initial;
		margin-top: 80%;
		margin-left: 0px;
		text-align: center;
		width: auto;
		height: auto;
	}

	/* _Описание_ */
	#mainTextDescription {
		width: 100%;
		height: auto;
		font-size: 16px;
		line-height: initial;
		margin-top: calc(80% + 50px);
		margin-left: 0px;
		text-align: center;
		left: 50%;
		transform: translate(-50%); 
	}
}